<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test api produit symfony api plateform</title>
    <style>
        #user {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 1rem;
  1padding: 1rem;
}

img {
  max-width: 100%;
  display: block;
object-fit: cover;
}

.oneuser {
  border:solid 1px black;
  height: 15rem;
  padding: 1rem;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
    </style>
    <script>
        fetch('https://127.0.0.1:8000/api/produits')
  .then((res) => res.json())
  .then(data=>{
   console.dir(data);
   let output = '';
     data['hydra:member'].forEach(item=>{
     output += `
       <div class="oneuser">
       <h4>${item.nom}</h4>
       <img src="${item.image}">
       <h5>${item.prix}</h5>
       </div>
        `;
     });
     document.getElementById("user").innerHTML = output;
  })
  .catch((error) => {console.log(error);})
    </script>
</head>
<body>
    <div id="user"></div>
</body>
</html>